*.py
*.class
target/
welcode.eml
*.pyc
*.m
*.t
*.jar
*.sh
*.m*
*.bat
*.eml
log.*
.idea/
.generated
snapshot.*
*.eml
.revision
.settings
bin
build
conf
contrib
dist-maven
lib
recipes
zookeeper-3.4.13.jar.*
.classpath
.project
